@import "../../../assets/styles/Colors.less";

.AppComponent {
  h1 {
    color: @appPrimaryColor;
  }

  h2 {
    color: @appSecondaryColor;
  }
  .background {
    background-color: @appBackgroundColor;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
  }
}
